{% extends "chatbot/base.html" %}

{% block title %}Chatbot Signup{% endblock %}

{% block nav %}
{% endblock nav %}

{% block ads %}
{% endblock ads %}

{% block content %}
<section id="login-section">
    <form method="post">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        {% if form.errors %}
            <div class="error">
                <p>Please correct the following errors:</p>
            </div>
        {% endif %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                <div>
                    {{ field.label_tag }} {{ field }}
                </div>
            </div>
        {% endfor %}
        <button type="submit">Sign up</button>
    </form>
</section>
{% endblock %}